
.photos {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    float: left;
}

.photo {
    width: 100%;
    box-shadow: 10px 10px 5px #888888;
}

.photoContainer {
    padding: 10px;
    width: 50%;
    float: left;
}

.hidden {
    display: none;
}
.mapStuff {
    max-width: 800px;
    float: left;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
#mapDiv {
    height: 316px;
    width: 335px;
    /* margin-left: auto; */
    /* margin-right: auto; */
    float: left;
    padding: 10px;
}

.mapPhotoContainer {
    width: 50%;
    /* margin-left: auto; */
    /* margin-right: auto; */
    padding-top: 10px;
    padding-left: 10px;
    float: left;
}

#mapPhoto {
    width: 100%;
    box-shadow: 10px 10px 5px #888888;
}
